<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fullcalendar.io/js/fullcalendar-3.0.1/fullcalendar.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.42/css/bootstrap-datetimepicker.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment-with-locales.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.42/js/bootstrap-datetimepicker.min.js"></script>

    <title>Calendar</title>
</head> 
  <body>
    <div class="contanier" style="margin: 50px ;">
        <div id="calendar"></div>
        <div id='datepicker'></div>
          <!-- Modal -->
          <div class="modal fade modalWindow" id="staticBackdrop "  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form action="" id="modalForm" method="POST">
                    <div class="form-group">
                      <label for="exampleFormControlInput1">Title</label>
                      <input type="text" class="form-control" id="title" name="title" placeholder="Title">
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlInput1">Start Date</label>
                      <input type="text" class="form-control" id="startDate" name="startDate" placeholder="Start Date">
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlInput1">End Date</label>
                      <input type="text" class="form-control" id="endDate" name="endDate" placeholder="End Date">
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlInput1">URL</label>
                      <input type="text" class="form-control" id="url" name="url" placeholder="URL">
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" id="modalSave" >Save</button>
                </div>
              </div>
            </div>
          </div>
        
    </div>
        
  </body>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
    var initialLocaleCode = 'en';
    var localeSelectorEl = document.getElementById('locale-selector');
    var calendarEl = document.getElementById('calendar');

        $.ajax({
          type: "GET",
          url: "/api/events",
          dataType: "json",
          success: function(data){
            container = []
            for (let i = 0; i < data.length; i++) {
              var title = data[i].title
              var start_date = data[i].start_date
              var end_date = data[i].end_date
              container.push({title:title, start:start_date, end:end_date})
            }
            var calendar = new FullCalendar.Calendar(calendarEl, {
              editable:true,
              headerToolbar: {
              left: 'prev,next today',
              center: 'title',
              right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
              },
              timeZone: 'Asia/Tashkent',
              events: container,
              selectable: true,
              navLinks: true,
              select: function(arg) {
                var title = prompt('Event Title:');
                var start = arg.startStr;
                var end = arg.endStr;
                if (title) {
                  calendar.addEvent({
                    title: title,
                    start: start,
                    end: end
                  });
                }
              },

        });
        
            calendar.render();
          }
        });
      });


  </script>      
<!-- //  <script>
//     $(document).ready(function(){
//       $('#calendar').fullCalendar({
//         navLinks: true,
//         selectHelper:true,
//         select:function(start,end){
//           $('.modal').modal('show');
//         },
//         eventClick:function(event,element){
//           $('.modal').modal('show');
//           $('.modal').find('#title').val(event.title);
//           $('.modal').find('#start_at').val(event.start.format('YYYY-MM-DD'));
//           $('.modal').find('#end_at').val(event.end.format('YYYY-MM-DD'));
//         },
//         editable:true,
//         eventLimit:true
//       });
//       $('#start_at,#end_at').datetimepicker();
//       $('#save-event').on('click', function(){
//         var title = $('#title').val();
//         if(title){
//           var eventData = {
//             title:title,
//             start:$('#start_at').val,
//             end:$('#end_at').val
//           };
//           $('#calendar').fullCalendar('renderEvent',eventData,true);
//         }
//         $('#calendar').fullCalendar('unselect');
//         $('.mdoal').find('input').val('');
//         $('.modal').mdoal('hide');
//       });
//       calendar.render()
//     });
//   </script> -->
  
</body>
</html>